.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.75rem;
  background-color: rgb(66, 66, 66);
  width: 250px;
  height: auto;
  box-shadow: 0 4px 6px -1px rgba(0,0,0,.1), 0 2px 4px -2px rgba(0,0,0,.1);
}

.header {
  margin-top: 1.5rem;
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info {
  margin-top: 1em;
  border: none;
  padding: 1.5rem;
 width: 100%;
 justify-content: center;
 align-items: center;
 row-gap: 1em;
 column-gap: 1em;
}


button {
  width: 45px;
  height: 45px;
  transform: scale(1);
  border-style: none;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  background: rgb(228, 232, 236);
  background: linear-gradient(45deg, rgb(228, 232, 236) 0%, rgb(234 234 234) 100%);
  transition: all .3s;
}

button:active {
  background: rgb(218, 221, 224);
  background: linear-gradient(45deg, rgb(218, 221, 224) 0%, rgb(241, 241, 241) 100%);
  transition: all .3s;
  transform: scale(.95);
}




.input {
  border: none;
  outline: none;
  border-radius: 15px;
  padding: 1em;
  background: rgb(228, 232, 236);
  transition: 300ms ease-in-out;
  width: 100%;
  height: 35px;
}

.input::placeholder {
  color: black;
}
