<div class="card">
  <div class="header">
    <input type="text" name="text" class="input" placeholder="{{resultado}}" disabled>
  </div>
  <div class="info flex flex-col gap-1 mt-2">
    <div class="button-container flex flex-row gap-2">
      <button type="button" class="action"(click)="borrar()">C</button>
    <button type="button" class="action" (click)="agregarOperador('(' || ')')">()</button>
    <button type="button" class="action" (click)="agregarOperador('%')">%</button>
    <button type="button" class="action" (click)="agregarOperador('/')">/</button>
    </div>
    <div class="button-container flex flex-row gap-2">
      <button type="button" class="action" (click)="agregarNumero(7)">7</button>
    <button type="button" class="action" (click)="agregarNumero(8)">8</button>
    <button type="button" class="action" (click)="agregarNumero(9)">9</button>
    <button type="button" class="action" (click)="agregarOperador('*')">*</button>
    </div>

    <div class="button-container flex flex-row gap-2">
      <button type="button" class="action" (click)="agregarNumero(4)">4</button>
      <button type="button" class="action" (click)="agregarNumero(5)">5</button>
      <button type="button" class="action" (click)="agregarNumero(6)">6</button>
      <button type="button" class="action" (click)="agregarOperador('-')">-</button>
    </div>
    <div class="button-container flex flex-row gap-2">
      <button type="button" class="action" (click)="agregarNumero(1)">1</button>
      <button type="button" class="action" (click)="agregarNumero(2)">2</button>
      <button type="button" class="action" (click)="agregarNumero(3)">3</button>
      <button type="button" class="action" (click)="agregarOperador('+')">+</button>
    </div>
    <div class="button-container flex flex-row gap-2">
      <button type="button" class="action" (click)="agregarOperador('+' || '-')">+/-</button>
      <button type="button" class="action" (click)="agregarNumero(0)">0</button>
      <button type="button" class="action" (click)="agregarOperador('.')">.</button>
      <button type="button" class="action" (click)="calcular()">=</button>
    </div>
  </div>
  </div>

  <p class="parrafo text-2xl underline mt-2">Tu resultado es: {{datoFinal}}</p>
